.card {
    display: flex;
    align-items: center;
    border: 1px solid black;
}

.card .card-iamge {
    height: 100px;
    width: 40px;
    object-fit: cover;

}

.card .card-content{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}